
<div class="d-flex flex-column align-items-center mt-5">
  
{{!-- category --}}
  <form action="/">
    <div class="category-group input-group" style="width:400px">
      <select class="form-select" name="categoryId" id="categoryId" aria-label="Default select example" onchange='this.form.submit()'>
      <option value="null">類別</option>
        {{#each categories}}
            <option value="{{this._id}}"{{#ifSelect this._id ../categorySelected}}selected{{/ifSelect}}>{{ this.name }}</option>
        {{/each}}
      </select>
    </div>
  </form>

{{!-- amount --}}
  <div class="total-amount d-flex flex-column align-items-center m-5">
    <h3>總金額</h3>
    <h1 class="total-amount">${{ totalAmount }}</h1>
  </div>


{{!-- recordList --}}
  <ul class="record-list list-group list-group-light" style="width: 600px">
    {{#each recordList}}
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <h1 class="record-category-icon"><i class="{{ this.categoryId.icon }}"></i></h1>
        <div class="ms-3">
          <h4 class="record-name fw-bold mb-1">{{ this.name }}</h4>
          <p class="record-date text-muted mb-0">{{ this.date }}</p>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <h4 class="record-amount fw-bold align-self-center me-5">${{ this.amount }}</h4>
        <a href="/records/{{this._id}}/edit"><button type="button" class="btn btn-dark"><i class="fa-solid fa-pen-to-square"></i></button></a>
        <form action="/records/{{ this._id }}?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-dark mx-2"><i class="fa-regular fa-trash-can"></i></button>
        </form>
      </div>
    </li>
    {{/each}}
  </ul>

  <div class="add-btn">
    <a href="/records/new" class="btn btn-lg btn-primary mt-5"><i class="fa-solid fa-circle-plus me-2"></i>新增支出</a>
  </div>
</div>
